<div class="modal" id="add-classification-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="add-classification-form">
                    <div class="form-group">
                        <label for="name-add">名称</label>
                        <input type="text" class="form-control" id="name-add" placeholder="名称" name="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<button type="button"
        class="btn btn-success btn-sm"
        data-toggle="modal"
        data-target="#edit-classification-model"
        id="edit-classification-model-open-button"
        style="display:none;"
></button>
<div class="modal" id="edit-classification-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="edit-classification-form">
                    <input type="hidden" id="id-edit"/>
                    <div class="form-group">
                        <label for="name-edit">名称</label>
                        <input type="text" class="form-control" id="name-edit" placeholder="名称" name="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="edit()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">分类管理</h3>
                    <div class="box-tools pull-right">
                        <button type="button"
                                class="btn btn-success btn-sm"
                                data-toggle="modal"
                                data-target="#add-classification-model"
                                id="add-classification-model-open-button"
                        >新增
                        </button>
                        &nbsp;
                        <form action="#" id="classification-search-form" class="pull-right">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="name" class="form-control pull-right" placeholder="搜索名称">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" onclick="page(0)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="datas">
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="javascript:pageUpOrDow(1);">上一页</a></li>
                        <li><a href="javascript:pageUpOrDow(-1);">下一页</a></li>
                    </ul>
                </div>
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>
    </div>
</div>
<script src="/js/classification/page.js"></script>